//Font
$myFont: "Roboto", sans-serif;

//padding
$pd-50: 50px;
$pd-10: 10px;
$pd-20: 20px;
$pd-40: 40px;
$pd-30: 30px;

//color
$bg-nav: #1f1d29;
$white: #ffffff;

//font-size
$fs-16: 16px;

//font-weight
$fw-4: 400;
$fw-7: 700;
$fw-9: 900;
